.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}
table {
    width: 100%;
}

.docWidth{
    width: 640px !important;
}

.mat-column-Sno {
    flex: 0 0 5% !important;
    min-width: 30px;
    border-right: solid 1px #e0e0e0;
}

.mat-column-objType {
    flex: 0 0 5% !important;
    min-width: 30px;
    border-right: solid 1px #e0e0e0;
}

.mat-column-filename {
    flex: 0 0 5% !important;
    min-width: 30px;
    border-right: solid 1px #e0e0e0;
}