<div class="p-24" [ngClass]="{'normal' : remarks === '','remarkPop':remarks !== ''  }">
  <div mat-dialog-content>{{confirmMessage}}</div>

  <div mat-dialog-actions *ngIf="deleteId">
    <button mat-raised-button class="fuse-navy-700 butcolor" (click)="dialogRef.close(deleteId)">Confirm</button>
    <button mat-button (click)="dialogRef.close(false)">Cancel</button>
  </div>

  <div mat-dialog-actions *ngIf="id">
    <button mat-raised-button class="fuse-navy-700 butcolor" (click)="dialogRef.close()">Ok</button>
  </div>

</div>