<div fxLayout="row" fxLayout.xs="column" fxFlexFill class="footersec p-16 h-40">
    <div fxFlex="100" fxFlex.xs="100" style="font-size: smaller;">
        <span fxFlex="2" fxLayoutAlign="start center" class="ml-24">
            <mat-icon style="font-size: 20px;margin-bottom: -5px;">copyright</mat-icon>
        </span>
        <span fxFlex="23" fxLayoutAlign="start center">
            Voltas Limited
        </span>
        <span fxFlex="50">
            <span> Voltas House 'A' Block,</span>
            <span> Dr. Babasaheb Ambedkar Rd,</span>
            <span> Chinchpokli, Mumbai - 400 033,</span>
            <span> India,T - 022 6665 6666</span>
        </span>
        <span fxFlex="25" fxLayoutAlign="end center" class="mr-24" style="cursor: pointer !important;" (click)="needHelpInfo()">
            Need Support ?
        </span>
    </div>
</div>